*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header{
    background-image: url(assets/img/bg-header.webp);
    height: 500px;
    width: 100%;

    .header-container{
        display: flex;
        flex-direction: column;
        max-width: 950px;
        margin: auto;
    }

    .logo-img{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        img{
            width: 230px;
            height: 75px;
        }
    }

    .lamp-img{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        img{
            width: 150px;
            height: 150px;
        }
    }

    .text-area{
        h1{
            justify-content: start;
            align-items: center;
            color: rgb(26, 136, 26);
            display: flex;
        }
        
        h2{
            color: orange;
        }
        
        h3{
            color: orange;
        }
        
        h4{
            color: rgb(26, 136, 26);
        }
        
        h5{
            color: rgb(26, 136, 26);
        }

        #invite-text{
            color: rgb(81, 110, 81);
        }

        #local-text{
            color: rgb(81, 110, 81);
        }
    
        button{
            width: 90px;
            height: 40px;
            justify-content: start;
            border-radius: 10px;
            border: 1px rgba(255, 255, 255, 0);
            background-color: orange;
            color: white;
        }
    }

}









main{
    display: flex;
    background-image: url(assets/img/bg-form.webp);
}

.program-screen{
    display: none;
}

.form-screen{
    display: none;
}

footer{
    display: none;
}

@media (max-width: 320px){

}